<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.16.175.8)(PORT=1527)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ACCUMOP)));User Id=mcs_connected;Password=mcs_connected;Persist Security Info=True;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
