@model IEnumerable<Example.Core.Model.Bookmark>
@{ ViewBag.Title = "Index"; }

<h2>All Bookmarks</h2>
<p>
    @Html.ActionLink("Create New", "Create","Bookmarks")
</p>
@{Html.RenderPartial("BookmarksList", Model);}
